@use './variables.scss' as *;
@use './mixins.scss' as *;
@use './components.scss' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $bg-secondary;
  color: $text-primary;
}

#app {
  min-height: 100vh;
}

// Utility classes
.btn {
  @include button-base;

  &.btn-primary {
    @include button-primary;
  }

  &.btn-secondary {
    @include button-secondary;
  }
}

.form-input {
  @include input-base;
}
